html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: sans-serif;
  background: rgba(245, 246, 250, 0.5);
  overflow-x: hidden;
}

html, body, .app {
  height: 100%;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
}

.container {
  text-align: center;
  max-width: 1490px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  padding: 10px;
}

button {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  width: 200px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 15px;
}
button:hover {
  opacity: .6;
}

.wr-create-project.show, .wr-projects-list.show {
  display: block;
}

.wr-create-project, .wr-projects-list {
  display: none;
}

.wr-create-project {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(176, 173, 171, 0.8) !important;
}

.wr-create-project form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #DDDBDA;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: 0 auto;
}
.wr-create-project form label {
  font-size: 15px;
  font-weight: 600;
}
.wr-create-project form .error-message {
  font-size: 12px;
  font-weight: 600;
  color: red;
  display: none;
  text-transform: capitalize;
  position: absolute;
  top: 32px;
  right: 32px;
}
.wr-create-project form .error-message.show {
  display: block;
}

.project-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}
.project-name input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 10px;
}
.project-name label {
  text-transform: capitalize;
  flex-shrink: 0;
  margin-right: 10px;
}

.file_upload {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 0;
}

.file_upload input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  letter-spacing: 10em;
  opacity: 0;
  cursor: pointer;
}

.file_upload label {
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 10px;
}

.button-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background-color: #EFEFEF;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.wr-create-project button {
  font-size: 15px;
  border: none;
  color: #fff;
  width: 100px;
  height: 35px;
  text-transform: capitalize;
  margin: 0;
}
.wr-create-project button:first-child {
  color: #0070D2;
  border: 1px solid #DDDBDA;
  background-color: #fff;
}
.wr-create-project button:last-child {
  background: #0070D2;
  color: #fff;
}

.wr-project {
  height: 100%;
}
.wr-project h1 {
  font-size: 36px;
  font-weight: 900;
}
